@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Pacifico&display=swap');
* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Dancing Script', cursive;
font-family: 'Pacifico', cursive;
    margin: 0;
    min-height: 88vh;
}
button {
    background-color: rgb(93, 7, 179);
    color: white;
    padding: 1rem;
    font-family: inherit;
    font-size: 1.2rem;
    box-shadow: 2px 8px 8px rgba(134, 67, 67, 0.5);
    border-radius: 8px;
    border:none;
    transition: transform 0.2s linear;
}

button:focus {
    outline: none;
}

button:active {
    box-shadow: 0;
    transform: translate(4px, 5px);
}